@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.main-header__menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header__topo {
  width: 100%;
  text-align: center;
}

.main-header__title--logo {
  font-family: "Lobster", cursive;
  font-size: 3.5rem;
  display: inline-block;
  text-align: center;
  line-height: 1.2;

  background: linear-gradient(
    90deg,
    red,
    orange,
    rgb(151, 151, 32),
    rgb(17, 180, 2),
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.main-header__subtitle {
  display: block;
  font-family: "Brush Script MT", cursive;
  font-size: 1.5rem;
  color: #c71585;
  margin-top: 4px;
  letter-spacing: 0.5px;
}

.main-header__menu a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  color: var(--light-blue);
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.main-header__menu a:hover {
  background-color: var(--purple);
  color: #fff;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
}

.badge-carrinho {
  background-color: var(--dark-blue);
  padding: 3px 8px;
  border-radius: 10px;
  color: var(--white);
  font-size: 14px;
}
