.search-form {
  max-width: 600px;
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.search-form input {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 20px 50px 20px 20px;
  background-color: var(--light-gray);
  color: var(--gray);
  border: none;
  font-size: 22px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.search-form input:focus {
  background-color: rgb(179, 157, 240);
  outline: none;
  color: #000000;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--gray);
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .search-form input {
    font-size: 18px;
    height: 48px;
    padding: 12px 44px 12px 12px;
  }

  .search-icon {
    font-size: 20px;
    right: 8px;
  }
}
