.product-list {
  padding: 40px 0;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.product-list__card {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  flex: 0 1 calc(25% - 20px);
  max-width: 100%;
  height: 500px;
  background-color: var(--light-purple);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s ease;
}

.product-list__card:hover {
  outline: 1px solid var(--purple);
  transform: scale(1.05);
  cursor: pointer;
}

.product-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-decoration: none;
}

.product-list__card img {
  height: 250px;
  width: 250px;
  display: block;
  border-radius: 4px;
}

.product-item__name {
  font-size: 24px;
  color: var(--purple);
}

.product-item__price {
  color: var(--rose);
  font-size: 32px;
  font-weight: bold;
}

.product-item__price-deion {
  color: var(--gray);
  font-size: 12px;
  font-weight: bold;
}

.product-item__buy-button {
  background-color: var(--purple);
  border: none;
  color: var(--white);
  font-size: 20px;
  padding: 6px 12px;
}

.product-item__buy-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

@media (max-width: 768px) {
  .product-list__card {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-list__card {
    flex: 0 1 calc(50% - 20px);
  }

  .product-list__card img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
}
